# Python
.venv/
venv/
python3-virtualenv/
__pycache__/
*.pyc
.pytest_cache/

# Environment variables
.env

# Local databases
flask.sqlite

# Node
node_modules/

# Operating system and tooling
.DS_Store
_ref_frames/
